<style>

/*nav bar css*/
	.w3-home{background-color: black;}
	.w3-bar-item.w3-button.w3-home {font-family: "Calligraffitti", cursive; font-size:25px;}
	.w3-bar{font-family: 'Handlee', cursive; font-size:25px;}
	#showwhensmall {font-family: 'Handlee', cursive; font-size:25px;}

/*title css*/
	.page_title h1{
		font-family: "Fredoka One", cursive;
		font-size: 80px;
	}
	.page_title p{
		font-family: "Fredoka One", cursive;
		font-size: 60px;
		}
	.page_title{margin-bottom: 30px}

	.nice_box{
		background: rgba(200, 200, 200, 0.8);
	}

/*slideshow css*/
	.w3-display-container {max-width:80%; height:70%;}
	.mySlides {width:100%;height:100%; border: 10px double white; border-radius:30px; opacity:0.8;}
	.w3-badge {cursor:pointer;
				   display: inline-block;
    			   padding-left: 8px;
    			   padding-right: 8px;
    			   text-align: center;
    			   height: 16px;}
    .w3-center.w3-section.w3-large.w3-text-white.w3-display-bottommiddle {width:100%;}

/*putting some space between navbar and text as well as to the left of each div*/
	.intro_sentences {margin:20px;}
	.attractions_sentences {margin:20px;}
	.food_sentences {margin:20px;}
	.embed_weather {margin:20px;}

/*making first sentences stand out*/
	.first-sentences {font-family: "Lily Script One", cursive;}

/*resizing the bath images*/
	.img-responsive.bath-images {height:100%; width:100%;}

/*polaroid effect for bath images*/
	.polaroid {
  	position: relative;
 	width: 220px;
 	padding:10px;}
	 
	.polaroid img {
  	border: 10px solid #f3eff0;
  	border-bottom: 45px solid #f3eff0;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;}
 
	.polaroid p {
 	position: absolute;
 	text-align: center;
 	width: 100%;
 	bottom: 0px;
 	font: 400 18px/1 'Lily Script One', cursive;
  	color: #888;}

/*making food images look proportionate and responsive to resizing*/
	.food-image{height:500px; 
				width:800px;
				border:5px solid black; 
				border-radius:10px; 
				display:block;
				margin: 0 auto;}
	@media only screen and (max-width: 900px) {
    .food-image{width: 100%; height:100%;}
	}

/*resizing the about us images*/
	.about-us-slideshow {width:100%; height: 500px;margin-bottom:25px;}
	.w3-center.w3-section.w3-large.w3-text-white.w3-display-bottommiddle {padding:25px;}

/*adding border to google form and some space from the edges of screen*/
	.embed_form {margin:20px;}
	#google-form {border:5px solid black; border-radius:10px;}
		@media only screen and (max-width: 900px) {
    	#google-form{width: 100%; height:100%;}
		}
	.embed_map {margin: 20px;}
		@media only screen and (max-width: 900px) {
    	.google-map{width: 100%; height:100%;}
		}

/*social bar css*/
	.w3-bottom{background-color: rgba(192,192,192,0.5); margin: 0 auto; text-align: center}
	.w3-bottom-bar {margin: 0 auto; text-align: center;}
	.socialmedia{width:25px; height:25px; margin-left:auto; margin-right:auto;}

/*jumbotron css*/
	.jumbotron {min-height: 500px; 
				background-image: url('../images/rain_1.jpg'); 
				background-size: cover; 
				background-attachment: fixed;
				/*margin-top: 30px;*/}
	#jumbotron-h1 {font-family: "Paprika";
				   font-size:100px;
				   padding-bottom: 40px;
				   color: bisque;
    			   text-shadow: 4px 4px 6px #000000;}
	#jumbotron-sentence {font-family:"Homemade Apple";
						 font-size: 50px;
						 color:antiquewhite;
						 text-shadow: 2px 2px 2px #000000;}
	
/*google form css*/
	#google_form {
		text-align: center;
		margin-top: 100px;
	}

/*background image*/

body {background-image: url("../images/background_image.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

.home_page {background-image: url("../images/rain_1.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

</style>