<style>

/*nav bar css*/
	.w3-home{background-color: black;}
	.w3-bar-item.w3-button.w3-home {font-family: "Calligraffitti", cursive; font-size:25px;}
	.w3-bar{font-family: 'Handlee', cursive; font-size:25px;}

/*slideshow css*/
	.w3-display-container {max-width:800px;}
	.mySlides {width:100%;height:500px;}
		.w3-badge {cursor:pointer;
				   display: inline-block;
    			   padding-left: 8px;
    			   padding-right: 8px;
    			   text-align: center;
    			   height: 16px;}

/*social bar css*/
	.embed_form {padding-bottom: 25px;}
	.w3-bottom{background-color: rgba(192,192,192,0.5); margin: 0 auto; text-align: center}
	.w3-bottom-bar {margin: 0 auto; text-align: center;}
	.socialmedia{width:25px; height:25px; margin-left:auto; margin-right:auto;}

</style>